__pycache__/
ext/
data/beamf/
data/mask/
data/map/
data/tmp/
data/simulations/
test/data/
.pytest_cache/
*.pyc
*.log
messages*
test/snippet.py
component_separation/build/
dist/
*.egg-info/
.ipynb_checkpoints/