__pycache__/
ext/
data/tmp/map/
data/tmp/mask/
data/tmp/spectrum/
data/tmp/weights/syn/
data/tmp/weights/
data/simulations/
test/data/
.pytest_cache/
*.pyc
*.log
messages*
test/snippet.py
component_separation/build/
dist/
*.egg-info/
*.ipynb_checkpoints/
component_separation.egg-info/